<section>
  <div class="background-img">
    <img src="./assets/img/contact/purple-blob.svg" alt="" />
  </div>
  <div class="headline">
    <h2>
      Contact
      <div class="line"></div>
    </h2>
  </div>
  <div class="content">
    <div class="left">
      <h3>
        Got a problem to solve?
        <div class="line"></div>
      </h3>
      <p>
        Contact me through this form, I am interested in hearing from you,
        knowing your ideas and contributing to your projects with my work.
      </p>
      <p>Need a Frontend developer? <b>Contact me!</b></p>
    </div>
    <div class="right">
      <form action="" class="contact-formular">
        <input id="name" type="text" placeholder="Your name" />
        <input id="mail" type="text" placeholder="Your email" />
        <textarea id="msg" rows="6" placeholder="Your message"></textarea>
        <div class="privacy-policy">
          <input type="checkbox" id="checkbox" />
          <label for="confirm">
            I've read the <a href="">privacy policy</a> and agree to the
            processing of my data as outlined.</label
          >
        </div>
      </form>
      <div class="btn">
        <span>Send message :&#041;</span>
      </div>
    </div>
  </div>
</section>
