section {
  background-color: #141d2f;
  margin: auto;
  max-width: 1440px;
  position: relative;
}

.background-img {
  img {
    position: absolute;
    width: 40%;
    z-index: 1;
    bottom: 0;
    right: 0;
  }
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 40px;
  z-index: 3;
  h2 {
    width: 65%;
    text-align: end;
    font-size: 90px;
    font-weight: 700;
  }
  .line {
    width: 35%;
    margin-left: 20px;
    height: 4px;
    background-color: #70e61c;
  }
}

.content {
  display: flex;
  justify-content: center;
  position: relative;
  padding-left: 80px;
  .left {
    width: 40%;
    padding-top: 40px;
    h3 {
      font-size: 32px;
      font-weight: 700;
      padding-bottom: 20px;
    }
    .line {
      position: absolute;
      top: 62px;
      left: 0;
      width: 50px;
      height: 4px;
      background-color: #1cdae6;
    }
    p {
      padding: 20px 0;
    }
  }

  .right {
    width: 60%;
    z-index: 2;
  }
}

.btn-up {
  display: flex;
  justify-content: end;
  margin: 0 60px 60px 0;
  img {
    cursor: pointer;
    &:hover {
      filter: invert(0%) sepia(61%) saturate(1638%) hue-rotate(34deg)
        brightness(89%) contrast(102%);
    }
  }
}

@media (max-width: 1255px) {
  .headline {
    h2 {
      font-size: 70px;
    }
  }
}

@media (max-width: 1000px) {
  .headline {
    h2 {
      font-size: 60px;
    }
  }
  .content {
    .left {
      h3 {
        font-size: 28px;
      }
      .line {
        top: 58px;
      }
    }
  }
}

@media (max-width: 850px) {
  .headline {
    padding-top: 30px;
    h2 {
      font-size: 50px;
      width: 70%;
    }
    .line {
      width: 30%;
    }
  }

  .content {
    flex-direction: column;
    padding: 0 40px;
    .left,
    .right {
      width: 100%;
      .line {
        width: 30px;
      }
    }
  }

  .contact-formular {
    padding: 25px;
  }

  .btn-up {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 470px) {
  .content {
    padding: 0 20px;
    .left {
      h3 {
        font-size: 24px;
      }
      .line {
        top: 55px;
        width: 10px;
      }
    }
  }

  .headline {
    h2 {
      font-size: 40px;
      width: 80%;
    }
    .line {
      width: 20%;
    }
  }

  .contact-formular {
    padding: 5px;
  }

  .right {
    .btn {
      margin-top: 30px;
    }
  }
}

@media (max-width: 390px) {
  .content {
    .right {
      .btn {
        padding: 10px 15px;
        span {
          font-size: 20px;
          font-weight: 400;
        }
      }
    }
  }
}
