<section>
  <div class="background-img">
    <img src="./assets/img/contact/purple-blob.svg" alt="" />
  </div>
  <div class="headline">
    <h2>
      {{ "contact.headline" | translate }}
      <div class="line"></div>
    </h2>
  </div>
  <div class="content">
    <div class="left">
      <h3>
        {{ "contact.problem" | translate }}
        <div class="line"></div>
      </h3>
      <p>
        {{ "contact.description" | translate }}
      </p>
      <p>
        {{ "contact.need" | translate }}
        <b>{{ "contact.contact" | translate }}</b>
      </p>
    </div>
    <div class="right">
      <form action="" class="contact-formular">
        <input
          id="name"
          type="text"
          placeholder="{{ 'contact.name' | translate }}"
        />
        <input
          id="mail"
          type="text"
          placeholder="{{ 'contact.mail' | translate }}"
        />
        <textarea
          id="msg"
          rows="6"
          placeholder="{{ 'contact.msg' | translate }}"
        ></textarea>
        <div class="privacy-policy">
          <input type="checkbox" id="checkbox" />
          <label for="confirm">
            {{ "contact.privacy-policy-firsttext" | translate }}
            <a href="">{{ "contact.privacy-policy-link" | translate }}</a>
            {{ "contact.privacy-policy-lasttext" | translate }}</label
          >
        </div>
      </form>
      <div class="btn">
        <span>{{ "contact.btn" | translate }}</span>
      </div>
    </div>
  </div>
</section>
