section {
  background-color: #141d2f;
  margin: auto;
  max-width: 1440px;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  z-index: 3;
  h2 {
    text-align: center;
    padding-right: 100px;
    position: relative;
    font-size: 90px;
    font-weight: 700;
  }
  .line {
    position: absolute;
    top: 70px;
    right: 0;
    width: 500px;
    height: 4px;
    background-color: #70e61c;
  }
}

.content {
  display: flex;
  justify-content: center;
  position: relative;
  padding-left: 80px;
  .left {
    width: 40%;
    padding-top: 40px;
    h3 {
      font-size: 32px;
      font-weight: 700;
      padding-bottom: 20px;
    }
    .line2 {
      position: absolute;
      top: 62px;
      left: 0;
      width: 50px;
      height: 4px;
      background-color: #1cdae6;
    }
    p {
      padding: 20px 0;
    }
  }
  .right {
    width: 60%;
  }
}

.contact-formular {
  display: flex;
  flex-direction: column;
  padding: 40px;
  input,
  textarea {
    background-color: #141d2f;
    border: 1px solid #9747ff;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    resize: none;
  }
}

.privacy-policy {
  display: flex;
  align-items: center;
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 0 10px 0 15px;
    appearance: none;
    border: 0;
    border-radius: 0;
    background-image: url("/assets/img/contact/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    &:checked {
      background-image: url("/assets/img/contact/checkbox-checked.svg");
      &:hover {
        background-image: url("/assets/img/contact/checkbox-checked-hover.svg");
      }
    }
    &:hover {
      background-image: url("/assets/img/contact/checkbox-hover.svg");
    }
  }
  label {
    font-size: 14px;
    font-weight: 400;
    a {
      text-decoration: none;
      color: #9747ff;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
