section {
  background-color: #141d2f;
  margin: auto;
  position: relative;
}

#portfolio-single {
  max-width: 1440px;
  margin: auto;
}

.background-imgs {
  img {
    position: absolute;
    &:first-child {
      top: 50px;
      right: 0;
      width: 34%;
      max-width: 570px;
    }
    &:last-child {
      z-index: 2;
      top: 200px;
      left: 0;
      width: 20%;
    }
  }
}

.project {
  display: flex;
  justify-content: center;
  padding: 40px 80px;
}

.spacer {
  padding: 20px;
}

.img {
  display: flex;
  align-items: center;
  z-index: 2;
  width: 100%;
  max-width: 500px;
  img {
    width: 100%;
    height: auto;
    border: 2px solid #fff;
    border-radius: 10px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  z-index: 2;
  h3 {
    color: #9747ff;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 5px;
  }
  h4 {
    color: #70e61c;
    font-size: 23px;
    font-weight: 400;
    padding-bottom: 10px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
  }
}

.btns {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 15px 30px;
  border: 0;
  border-radius: 10px;
  transition: 200ms ease-in-out;
  cursor: pointer;
  a {
    font-size: 23px;
    color: #fff;
    text-decoration: none;
  }
}

.btn-live-test {
  background-color: #9747ff;
  &:hover {
    background-color: #70e61c;
  }
}
.btn-github {
  background-color: #141d2f;
  border: 1px solid #70e61c;
  &:hover {
    background-color: #70e61c;
  }
}

@media (max-width: 850px) {
  .project {
    flex-direction: column;
  }

  .background-imgs {
    img {
      &:first-child {
        top: 0%;
        width: 54%;
      }
      &:last-child {
        width: 40%;
      }
    }
  }

  .description {
    width: 100%;
    padding: 0px;
    text-align: start !important;
  }

  .img {
    max-width: 100%;
    padding-bottom: 20px;
  }

  .spacer {
    padding: 0px;
  }
}

@media (max-width: 470px) {
  .project {
    padding: 40px;
  }
}

@media (max-width: 420px) {
  .btn {
    padding: 5px 15px;
    a {
      font-size: 18px;
    }
  }

  .background-imgs {
    img {
      &:first-child {
        top: 0%;
        width: 74%;
      }
      &:last-child {
        width: 60%;
      }
    }
  }
}
