<header>
  <section class="section-name">
    <div class="left-text">I am</div>
    <div class="right-text">
      <div>Andre Kempf</div>
      <div>FRONTEND DEVELOPER</div>
    </div>
  </section>
  <section class="section-btn">
    <a href="#mail">Let’s talk!</a>
  </section>
  <section class="section-references">
    <div class="line"></div>
    <a href="https://github.com/Chneemann" target="_blank"
      ><img src="./assets/img/github.svg" alt=""
    /></a>
    <a href="#mail" target="_blank"
      ><img src="./assets/img/mail.svg" alt=""
    /></a>
    <a href="https://www.linkedin.com/in/andre-kempf-6708b6292/" target="_blank"
      ><img src="./assets/img/linkedin.svg" alt=""
    /></a>
  </section>
</header>
