<header>
  <section class="section-name">
    <div class="left-text">I am</div>
    <div class="right-text">
      <div>Andre Kempf</div>
      <div>FRONTEND DEVELOPER</div>
    </div>
  </section>
  <section class="section-btn">
    <a href="#mail">Let’s talk!</a>
  </section>
  <section class="section-references">
    <div class="line"></div>
    <img src="../assets/img/github_small.svg" alt="" />
    <img src="../assets/img/mail_small.svg" alt="" />
    <img src="../assets/img/linkedin_small.svg" alt="" />
  </section>
</header>
