section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  font-size: 14px;
  font-weight: 400;
  color: red;
  padding: 0 0 10px 20px;
}

.contact-formular {
  display: flex;
  flex-direction: column;
  padding: 40px;
  input,
  textarea {
    background-color: #141d2f;
    border: 1px solid #9747ff;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    resize: none;
    &:hover {
      border-color: #70e61c;
    }
    &:focus {
      border-color: #70e61c;
      outline: none;
    }
  }
  p {
    text-align: center;
    color: 70e61c;
    padding: 20px;
    font-weight: 700;
  }
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  .submit-btn {
    padding: 15px 30px;
    border: 0;
    border-radius: 10px;
    border-color: black;
    background-color: lightgray;
    font-size: 23px;
    font-weight: 400;
    transition: 200ms ease-in-out;
    &:hover:not(:disabled) {
      padding: 20px 35px;
      background-color: #9747ff;
      background-color: #9747ff !important;
      cursor: pointer;
    }
    &:not(:disabled) {
      background-color: #70e61c !important;
    }
    &:hover {
      cursor: default;
    }
  }
}

.privacy-policy {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 0 10px 0 15px;
    appearance: none;
    border: 0;
    border-radius: 0;
    background-image: url("/assets/img/contact/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    &:checked {
      background-image: url("/assets/img/contact/checkbox-checked.svg");
      &:hover {
        background-image: url("/assets/img/contact/checkbox-checked-hover.svg");
      }
    }
    &:hover {
      background-image: url("/assets/img/contact/checkbox-hover.svg");
    }
  }
  label {
    font-size: 14px;
    font-weight: 400;
    padding-right: 20px;
    a {
      text-decoration: none;
      color: #9747ff;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 850px) {
  .contact-formular,
  p {
    padding: 25px 25px 40px 25px;
  }
}

@media (max-width: 470px) {
  .contact-formular {
    padding: 5px 5px 40px 5px;
  }
}

@media (max-width: 390px) {
  .btn {
    height: 80px;
    .submit-btn {
      padding: 10px 15px;
      font-size: 20px;
      &:hover:not(:disabled) {
        padding: 15px 20px;
      }
    }
  }
}
