<section>
  <form
    (ngSubmit)="onSubmit(contactForm)"
    #contactForm="ngForm"
    onsubmit="return false"
    class="contact-formular"
  >
    <input
      id="name"
      type="text"
      name="name"
      #name="ngModel"
      placeholder="{{ 'form.name' | translate }}"
      [(ngModel)]="contactData.name"
      autocomplete="on"
      required
    />
    @if (!name.valid && name.touched) {
    <span>{{ "form.invalid-name" | translate }}</span>
    }
    <input
      id="email"
      type="email"
      name="email"
      #email="ngModel"
      placeholder="{{ 'form.email' | translate }}"
      [(ngModel)]="contactData.email"
      autocomplete="on"
      required
    />
    @if (!email.valid && email.touched) {
    <span>{{ "form.invalid-email" | translate }}</span>
    }
    <textarea
      id="msg"
      rows="6"
      name="msg"
      #msg="ngModel"
      minlength="10"
      placeholder="{{ 'form.msg' | translate }}"
      [(ngModel)]="contactData.message"
      required
    ></textarea>
    @if (!msg.valid && msg.touched) {
    <span>{{ "form.invalid-msg" | translate }}</span>
    }
    <div class="privacy-policy">
      <input
        type="checkbox"
        id="checkbox"
        name="checkbox"
        #checkbox="ngModel"
        [(ngModel)]="checkboxState"
        required
      />
      <label for="checkbox">
        {{ "form.privacy-policy-firsttext" | translate }}
        <a href="privacy-policy" target="_blank">{{
          "form.privacy-policy-link" | translate
        }}</a>
        {{ "form.privacy-policy-lasttext" | translate }}</label
      >
    </div>
    @if (!checkbox.valid && checkbox.touched) {
    <span>{{ "form.invalid-checkbox" | translate }}</span>
    } @if (mailSend) {
    <p>
      {{ "form.msg-send0" | translate }}<br />
      {{ "form.msg-send1" | translate }}
    </p>
    }
    <div class="btn">
      <input
        class="submit-btn"
        type="submit"
        value="{{ 'form.btn' | translate }}"
        [disabled]="
          name.invalid ||
          !contactData.name ||
          email.invalid ||
          !contactData.email ||
          msg.invalid ||
          !contactData.message ||
          !checkboxState
        "
      />
    </div>
  </form>
</section>
