<nav>
  <div class="logo">
    <a
      href="#top"
      (mouseenter)="changeLineWidth('100px')"
      (mouseleave)="changeLineWidth('0%')"
      ><img src="./assets/img/logo.png" alt=""
    /></a>
    <div class="line" [style.width]="lineWidth"></div>
  </div>
  <div class="links">
    <a href="#about-me" [ngClass]="{ selected: activeLink == 'about-me' }">{{
      "navbar.about" | translate
    }}</a>
    <a href="#skills" [ngClass]="{ selected: activeLink == 'skills' }"
      >Skills</a
    >
    <a href="#portfolio" [ngClass]="{ selected: activeLink == 'portfolio' }"
      >Portfolio</a
    >
    <a (click)="langService.switchLanguage()" class="translateLink"
      ><img
        id="translateIcon"
        src="../../../../assets/img/navbar/flag_{{
          langService.currentFlag
        }}.png"
        alt=""
    /></a>
    <div
      class="line"
      [ngStyle]="{ left: getLeftPosition() }"
      [hidden]="
        !(
          activeLink === 'about-me' ||
          activeLink === 'skills' ||
          activeLink === 'portfolio'
        )
      "
    ></div>
  </div>
</nav>
