nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1440px;
  position: fixed;
  z-index: 4;
  background-color: #141d2f;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: start;
  position: relative;
  width: 170px;
  margin: 20px;
  img {
    width: 170px;
    height: auto;
  }
  .line {
    position: absolute;
    bottom: 5px;
    left: 10px;
    width: 0;
    height: 4px;
    background-color: #1cdae6;
    transition: 125ms ease-in-out;
    &:hover {
      width: 100px;
    }
  }
}

.links {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 28px;
  width: 400px;
  margin: 20px;
  a {
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #70e71a;
    }
  }
  .line {
    position: absolute;
    top: 32px;
    left: 42px;
    width: 50px;
    height: 4px;
    background-color: #9747ff;
    transition: 125ms ease-in-out;
  }
  .selected {
    color: #70e71a;
  }
  .hidden {
    display: none;
  }

  .translateLink {
    display: flex;
    align-items: center;
    justify-self: center;
    cursor: pointer;
  }
  #translateIcon {
    width: 40px;
    height: auto;
  }
}
