<section>
  <div class="logo">
    <a
      href=""
      (mouseenter)="changeLineWidth('100px')"
      (mouseleave)="changeLineWidth('0%')"
      ><img src="./assets/img/logo.png" alt=""
    /></a>
    <div class="line" [style.width]="lineWidth"></div>
  </div>
  <div class="navbar">
    <input type="checkbox" id="navigation" #navigationCheckbox />
    <label for="navigation" title="open navigation">
      <div class="burgericon">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </label>
    <nav id="nav">
      <a
        href="#about-me"
        [ngClass]="{ selected: activeLink == 'about-me' }"
        (click)="updateNavigationCheckbox()"
        >{{ "navbar.about" | translate }}</a
      >
      <a
        href="#skills"
        [ngClass]="{ selected: activeLink == 'skills' }"
        (click)="updateNavigationCheckbox()"
        >Skills</a
      >
      <a
        href="#portfolio"
        [ngClass]="{ selected: activeLink == 'portfolio' }"
        (click)="updateNavigationCheckbox()"
        >Portfolio</a
      >
      <a
        href="#contact"
        [ngClass]="{
          selected: activeLink == 'contact',
        }"
        [ngStyle]="{ display: mobileMenu ? 'block' : 'none' }"
        (click)="updateNavigationCheckbox()"
        >{{ "navbar.contact" | translate }}</a
      >
      <a
        (click)="langService.switchLanguage(); updateNavigationCheckbox()"
        class="translateLink"
        ><img
          id="translateIcon"
          src="../../../../assets/img/navbar/flag_{{
            langService.currentFlag
          }}.png"
          alt=""
      /></a>
      <div
        id="nav-line"
        class="nav-line"
        [ngStyle]="{
          left: !mobileMenu ? getPosition() : 'calc(50% - 25px)',
          top: mobileMenu ? getPosition() : ''
        }"
        [hidden]="
          !(
            activeLink === 'about-me' ||
            activeLink === 'skills' ||
            activeLink === 'portfolio' ||
            (activeLink === 'contact' && mobileMenu)
          )
        "
      ></div>
    </nav>
  </div>
</section>
