section {
  display: flex;
  justify-content: space-between;
  background-color: #141d2f;
}

.section-left {
  padding: 80px;
  width: 50%;
  .headline {
    padding-bottom: 20px;
  }
  h2 {
    font-size: 90px;
    font-weight: 700;
  }
  .column {
    display: flex;
    padding-bottom: 20px;
    img {
      padding: 20px;
    }
  }
}

.section-right {
  width: 50%;
  position: relative;
  .hero-img {
    width: 100%;
    object-fit: cover;
    height: 700px;
    width: auto;
  }
  .background-imgs {
    img {
      position: absolute;
      &:first-child {
        top: 0;
        left: 0;
      }
      &:last-child {
        top: 0;
        right: 0;
      }
    }
  }
}
