section {
  background-color: #141d2f;
  margin: auto;
}

#about-me {
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin: auto;
  max-width: 1440px;
  z-index: 2;
}

.section-left {
  width: 40%;
  height: auto;
  padding: 40px 0px 80px 80px;
  .headline {
    padding-bottom: 20px;
  }
  h2 {
    font-size: 90px;
    font-weight: 700;
  }
  .column {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    img {
      padding: 20px;
      height: 70px;
      width: auto;
    }
    p {
      padding-left: 10px;
    }
  }
}

.section-right {
  display: flex;
  justify-content: center;
  position: relative;
  width: 60%;
  opacity: 0;
  .hero-img {
    object-fit: cover;
    width: 100%;
    max-width: 500px;
    z-index: 2;
  }
  .background-imgs {
    img {
      position: absolute;
      width: 100%;
      max-width: 500px;
      z-index: 1;
      &:first-child {
        top: 0;
        left: 0;
        width: 70%;
      }
      &:last-child {
        top: 100px;
        right: 0;
        width: 70%;
      }
    }
  }
}

.animation-coming-in {
  animation: coming-in 1s ease-in-out;
  opacity: 1;
}

@keyframes coming-in {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1255px) {
  .section-left {
    h2 {
      font-size: 70px;
    }
  }
}

@media (max-width: 1000px) {
  .section-left {
    h2 {
      font-size: 60px;
    }
  }
}

@media (max-width: 850px) {
  #about-me {
    flex-direction: column;
    padding: 40px;
  }
  .section-left,
  .section-right {
    width: 100%;
    padding: 0px;
  }
}

@media (max-width: 470px) {
  .section-left {
    h2 {
      font-size: 45px;
    }
    .column {
      img {
        height: 50px;
      }
    }
  }
}

@media (max-width: 390px) {
  #about-me {
    padding: 20px;
  }
  .section-left {
    h2 {
      font-size: 40px;
    }
  }
}
