<section>
  <div class="section-left">
    <div class="headline">
      <h2>About me</h2>
      <p>
        Hi, I am a Front-end deverloper based in Karlsruhe, Germany(....)Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non
        tempus convallis. Integer et justo vitae urna finibus eleifend sit amet
        porttitor sapien. Donec sollicitudin massa vel lorem vestibulum
        efficitur.
      </p>
    </div>
    <div class="column">
      <img src="./assets/img/bulb.svg" alt="" />
      <p>
        Some personal thing to share(...) Donec ut imperdiet diam, et convallis
        neque. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos.
      </p>
    </div>
    <div class="column">
      <img src="./assets/img/puzzle.svg" alt="" />
      <p>
        Some personal thing to share(...) Donec ut imperdiet diam, et convallis
        neque. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos.
      </p>
    </div>
  </div>
  <div class="section-right">
    <img class="hero-img" src="./assets/img/me.png" alt="" />
    <div class="background-imgs">
      <img src="./assets/img/purple-shadow.svg" alt="" />
      <img src="./assets/img/green-shadow.svg" alt="" />
    </div>
  </div>
</section>
