section {
  background-color: #141d2f;
  margin: auto;
  #landing-page {
    height: calc(100vh);
    margin: auto;
    max-width: 1440px;
    position: relative;
    z-index: 2;
  }
}

.line-extended {
  position: absolute;
  bottom: 68px;
  width: calc((100vw - 1440px) / 2);
  height: 4px;
  background-color: #70e61c;
  z-index: 2;
}

.background-img {
  img {
    position: absolute;
    &:first-child {
      top: 95px;
      left: 0;
      width: 40%;
    }
    &:last-child {
      top: 100px;
      right: 0;
      width: 30%;
    }
  }
}

.iam {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  .left-text {
    display: flex;
    align-items: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 62px;
    width: 100px;
    padding-top: 20px;
    z-index: 2;
  }
  .left-text.english {
    font-size: 92px;
  }
  .right-text {
    z-index: 2;
    h1 {
      font-size: 114px;
      font-weight: 700;
    }
    h2 {
      font-size: 64px;
      font-weight: 400;
      color: #9747ff;
      text-transform: uppercase;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  a {
    padding: 15px 30px;
    border: 0;
    border-radius: 10px;
    font-size: 23px;
    color: #fff;
    background-color: #70e61c;
    text-decoration: none;
    transition: 200ms ease-in-out;
    cursor: pointer;
    &:hover {
      padding: 20px 35px;
      background-color: #9747ff;
    }
  }
}

.references {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 370px;
  .line {
    width: 100px;
    height: 4px;
    background-color: #70e61c;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  img {
    width: 30px;
    height: 30px;
    &:hover {
      width: 40px;
      height: 40px;
    }
  }
}

.scroll-down {
  display: flex;
  align-items: center;
  position: absolute;
  right: 50px;
  bottom: 50px;
  writing-mode: vertical-lr;
  animation: 2s anim-UpAndDown ease infinite;
  p {
    font-size: 28px;
  }
}

/*------------- ANIMATION -------------*/

.animation-coming-in-iam {
  animation: coming-in-iam 1s ease-in-out;
}

.animation-coming-in-name {
  animation: coming-in-name 1.2s ease-in-out;
}

.animation-coming-in-profession {
  animation: coming-in-profession 1.4s ease-in-out;
}

@keyframes coming-in-iam {
  0% {
    opacity: 0;
    transform: rotate(180deg) translate(2vw);
  }
}

@keyframes coming-in-name {
  0% {
    opacity: 0;
    transform: translateY(-1vw);
  }
}

@keyframes coming-in-profession {
  0% {
    opacity: 0;
    transform: translateY(2vw);
  }
}

@keyframes anim-UpAndDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/*------------- RESPONSIVE -------------*/

@media (max-width: 1000px) {
  .iam {
    .left-text {
      font-size: 34px;
      padding-top: 12px;
      width: 60px;
    }
    .left-text.english {
      font-size: 50px;
    }
    .right-text {
      h1 {
        font-size: 64px;
      }
      h2 {
        font-size: 34px;
      }
    }
  }
}

@media (max-width: 550px) {
  .iam {
    .left-text {
      font-size: 23px;
      padding-top: 10px;
      width: 40px;
    }
    .left-text.english {
      font-size: 36px;
    }
    .right-text {
      h1 {
        font-size: 45px;
      }
      h2 {
        font-size: 26px;
      }
    }
  }

  .references {
    width: 200px;
    .line {
      width: 60px;
    }
  }

  .scroll-down {
    right: 20px;
    p {
      font-size: 20px;
    }
  }
}

@media (max-width: 390px) {
  .iam {
    .left-text {
      font-size: 18px;
      padding-top: 7px;
      width: 30px;
    }
    .left-text.english {
      font-size: 27px;
    }
    .right-text {
      h1 {
        font-size: 33px;
      }
      h2 {
        font-size: 20px;
      }
    }
  }

  .btn {
    a {
      padding: 10px 15px;
      font-size: 20px;
      &:hover {
        padding: 15px 20px;
      }
    }
  }
}

@media (max-height: 600px) {
  .iam {
    padding-top: 100px;
  }
}
