section {
  display: flex;
  justify-content: space-around;
  background-color: #141d2f;
  margin: auto;
  max-width: 1440px;
}

.section-left {
  z-index: 3;
  table {
    padding-left: 40px;
    td {
      padding: 40px;
      img {
        width: 150%;
        min-width: 44px;
        height: auto;
      }
    }
  }
}

.section-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  z-index: 3;
  h2 {
    position: relative;
    font-size: 90px;
    font-weight: 700;
  }
  .line {
    position: absolute;
    top: 70px;
    right: 0;
    width: 290px;
    height: 4px;
    background-color: #1cdae6;
  }
}

.btn {
  display: flex;
  justify-content: left;
  margin-top: 50px;
  a {
    padding: 15px 30px;
    border: 0;
    border-radius: 10px;
    font-size: 23px;
    color: #fff;
    background-color: #70e61c;
    text-decoration: none;
    transition: 200ms ease-in-out;
    cursor: pointer;
    &:hover {
      padding: 20px 35px;
      background-color: #9747ff;
    }
  }
}
