<section>
  <div class="section-left">
    <table>
      <tr>
        <td><img src="./assets/img/skills/angular.svg" alt="angular" /></td>
        <td>
          <img src="./assets/img/skills/javascript.svg" alt="javascript" />
        </td>
        <td>
          <img src="./assets/img/skills/typescript.svg" alt="typescript" />
        </td>
        <td><img src="./assets/img/skills/firebase.svg" alt="firebase" /></td>
      </tr>
      <tr>
        <td><img src="./assets/img/skills/html.svg" alt="html" /></td>
        <td><img src="./assets/img/skills/css.svg" alt="css" /></td>
        <td><img src="./assets/img/skills/git.svg" alt="git" /></td>
        <td>
          <img
            src="./assets/img/skills/material-design.svg"
            alt="material-design"
          />
        </td>
      </tr>
      <tr>
        <td><img src="./assets/img/skills/scrum.svg" alt="scrum" /></td>
        <td><img src="./assets/img/skills/rest-api.svg" alt="rest-api" /></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="section-right">
    <h2>
      Skills
      <div class="line"></div>
    </h2>
    <p>
      I have gained experience in building projects with various front end
      technologies and concepts.
    </p>
    <div class="btn">
      <a href="#mail">Get in touch</a>
    </div>
  </div>
</section>
