section {
  background-color: #141d2f;
  margin: auto;
  position: relative;
  display: flex;
  #skills {
    display: flex;
    justify-content: space-around;
    background-color: #141d2f;
    margin: auto;
    max-width: 1440px;
    padding-bottom: 40px;
  }
}

.line-extended {
  position: absolute;
  top: 232px;
  right: 0;
  width: calc((100vw - 1440px) / 2);
  height: 4px;
  background-color: #1cdae6;
  z-index: 3;
}

.background-img {
  img {
    z-index: 2;
    position: absolute;
    top: calc(-160px - ((100vw - 1440px) / 7));
    width: 100%;
  }
}

.section-left {
  z-index: 3;
  width: 50%;
  margin: 40px 0;
  table {
    margin-left: 40px;
    td {
      padding: 5%;
      width: 10%;
      img {
        transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
        transition: 0.6s ease all;
        &:hover {
          transform: perspective(800px) rotateY(-15deg) translateY(-20px)
            rotateX(10deg) scale(1.2);
        }
      }
      img {
        width: 100%;
        min-width: 44px;
        height: auto;
      }
    }
  }
}

.section-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  width: 50%;
  z-index: 3;
  position: relative;
  .headline {
    h2 {
      font-size: 90px;
      font-weight: 700;
    }
    .line {
      position: absolute;
      top: 232px;
      right: 0;
      width: 430px;
      margin-left: 20px;
      height: 4px;
      background-color: #1cdae6;
    }
  }
  p {
    padding-right: 80px;
  }
}

.btn {
  margin-top: 50px;
  a {
    padding: 15px 30px;
    border: 0;
    border-radius: 10px;
    font-size: 23px;
    color: #fff;
    background-color: #70e61c;
    text-decoration: none;
    transition: 200ms ease-in-out;
    cursor: pointer;
    &:hover {
      padding: 20px 35px;
      background-color: #9747ff;
    }
  }
}

.btn-left {
  display: block;
}
.btn-bottom {
  display: none;
}

.skill1,
.skill2,
.skill3,
.skill4,
.skill5,
.skill6,
.skill7,
.skill8,
.skill9,
.skill10 {
  opacity: 0;
}

/*------------- ANIMATION -------------*/

.animation-coming-in {
  animation: coming-in 1s ease-in-out;
  opacity: 1;
}

@keyframes coming-in {
  0% {
    opacity: 0.1;
    transform: scale(0.1) rotate(-0.1turn);
  }
}

/*------------- RESPONSIVE -------------*/

@media (max-width: 1440px) {
  .section-right {
    .headline {
      display: flex;
      align-items: center;
      .line {
        position: relative;
        top: 0;
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 1255px) {
  .section-right {
    .headline {
      h2 {
        font-size: 70px;
      }
    }
  }

  .background-img {
    img {
      top: calc(-180px - (100vw - 1440px) / 7);
    }
  }
}

@media (max-width: 1000px) {
  .section-left {
    margin: 20px 0;
  }

  .section-right {
    .headline {
      h2 {
        font-size: 60px;
      }
    }
  }
}

@media (max-width: 850px) {
  #skills {
    flex-direction: column-reverse;
    padding: 40px 0 40px 40px;
  }

  .section-left {
    width: 100%;
    table {
      margin: 0;
      padding: 20px 40px 0 0;
    }
  }

  .section-right {
    width: 100%;
    padding: 0px;
    .headline {
      h2 {
        font-size: 50px;
      }
    }
    p {
      padding-right: 40px;
    }
  }

  .btn-left {
    display: none;
  }

  .btn-bottom {
    display: block;
    text-align: center;
  }

  .background-img {
    img {
      top: -140px;
    }
  }
}

@media (max-width: 470px) {
  #skills {
    padding: 20px 0 20px 20px;
  }

  .section-left {
    table {
      padding: 20px 20px 0 0;
    }
  }

  .section-right {
    .headline {
      h2 {
        font-size: 40px;
      }
    }
    p {
      padding-right: 20px;
    }
  }

  .btn {
    a {
      font-size: 20px;
    }
  }

  .background-img {
    img {
      top: -100px;
    }
  }
}

@media (max-width: 390px) {
  .btn {
    a {
      padding: 10px 15px;
      font-size: 20px;
      &:hover {
        padding: 15px 20px;
      }
    }
  }

  .background-img {
    img {
      top: -70px;
    }
  }
}
