<section>
  <div class="line"></div>
  <div class="content">
    <div class="logo">
      <a href="#top"><img src="../assets/img/logo.png" alt="" /></a>
      <a href="">Imprint</a>
    </div>
    <div>© Andre Kempf 2024</div>
    <div class="references">
      <a href="https://github.com/Chneemann" target="_blank"
        ><img src="./assets/img/github.svg" alt=""
      /></a>
      <a href="#mail" target="_blank"
        ><img src="./assets/img/mail.svg" alt=""
      /></a>
      <a
        href="https://www.linkedin.com/in/andre-kempf-6708b6292/"
        target="_blank"
        ><img src="./assets/img/linkedin.svg" alt=""
      /></a>
    </div>
  </div>
</section>
