section {
  background-color: #141d2f;
  margin: auto;
  position: relative;
}

#portfolio {
  max-width: 1440px;
  margin: auto;
}

.line-extended {
  position: absolute;
  top: 66px;
  width: calc((100vw - 1440px) / 2);
  height: 4px;
  background-color: #9747ff;
  z-index: 2;
}

.headline {
  h2 {
    font-size: 90px;
    font-weight: 700;
    margin-left: 80px;
  }
  .line {
    position: absolute;
    top: 66px;
    width: 60px;
    margin-right: 20px;
    height: 4px;
    background-color: #9747ff;
  }
}
p {
  padding-left: 80px;
  z-index: 2;
}

@media (max-width: 1440px) {
  .headline {
    display: flex;
    align-items: center;
    h2 {
      margin-left: 0;
    }
    .line {
      position: relative;
      top: 0;
    }
  }
}

@media (max-width: 1255px) {
  section {
    .headline {
      h2 {
        font-size: 70px;
      }
    }
  }
}

@media (max-width: 1000px) {
  section {
    .headline {
      h2 {
        font-size: 60px;
      }
    }
  }
}

@media (max-width: 850px) {
  section {
    .headline {
      .line {
        width: 20px;
      }
    }
    p {
      padding-left: 40px;
    }
  }
}

@media (max-width: 470px) {
  section {
    .headline {
      .line {
        width: 10px;
        margin-right: 10px;
      }
      h2 {
        font-size: 45px;
      }
    }
    p {
      padding-left: 20px;
    }
  }
}

@media (max-width: 390px) {
}
